h1
{
    font-style: italic;
    color: red;
    text-decoration: dashed;
    position: relative;
}

.negan
{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: brown;
    text-emphasis: none;
    position: relative;
}
body
{
    background-image:url("twd.png");
    background-size: auto;
    color: white;
    position: relative;

}